/*cabecalho*/
.cabecalho-bg{
    background-color: #1C92FF;
    padding: 30px 30px 0;
    display: block;
}
.cabecalho{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    max-width: 1200px;
}
.foto{
    width: 600px;
}
.foto img{
    width: 300px;
    border-radius: 50%;
    display: block;
}
.contato{
    display: inline-block;
    text-align: left;
    margin-right: 10px;
    flex-basis: 400px;
}
.contato p{
    margin-bottom: 25px;
}
.contato ul{
    margin-left: 0;
}
.contato li{
    margin-bottom: 15px;
    list-style: none;
}
.contato h1{
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: bold;
}
.contato p{
    font-size: 1.225rem;
    color: rgba(0, 0, 0, 0.641);
}

/*main*/
main{
    width: 100%;
    padding: 0 30px 30px 30px;
    margin: 0 auto;
    max-width: 1200px;
}
p{
    line-height: 25px;
}
.colunas{
    display: flex;
}
section{
    border: 2px solid #1C92FF;
    padding: 20px;
    margin: 20px 10px;
}
h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}
h3{
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}
h4{
    margin-bottom: 10px;
    font-weight: bold;
}
.cargo{
    margin: 20px 0;
}
.colunas li{
    margin: 15px 0;
}
.coluna-esquerda section{
    
}
.cursos i{
    font-size: 0.9em;
}
.coluna-direita section{
    width: 450px;
}
.coluna-direita h2{
    text-decoration: none;
}
.perfil-profissional{
    font-size: 1rem;
    line-height: normal;
}

/*rodapé*/
.footer-bg{
    background-color: #22272F;
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
    max-width: 1200px;
}
.footer-name{
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    
}
.footer-name p,span{
    font-weight: 600;
}
.nome{
    font-size: 1.5rem;
}
.coroa{
    width: 1.4em;
    margin-left: 3px;
    display: inline-block;
    position: absolute;
    margin: -6px 2px 2px 2px;
}


.redes-sociais {
    display: flex;
    height: 70px;
    width: 270px;
  }
  
  .redes-sociais svg {
    position: absolute;
    display: flex;
    width: 45%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
  
  }
  
  .redes-sociais .social-instagram,.redes-sociais .social-github,.redes-sociais .social-linkedin,.redes-sociais .social-wpp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .redes-sociais svg {
    transform: scale(1);
  }
  
  .redes-sociais .social-instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
  }
  
  .redes-sociais .social-github:hover {
    background-color: #121314;
    animation: bounce_613 0.4s linear;
  }
  
  .redes-sociais .social-linkedin:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  .redes-sociais .social-wpp:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }